In [1]:
import numpy as np
import pandas as pd
import os

In [2]:
def loadCSV(filename):
    file = filename
    if '.csv' not in filename:
        file += '.csv'
    data = pd.read_csv(file, encoding = 'ISO-8859-1')
    return data

In [3]:
csvFile = "stemmed_hate_speech"
data = loadCSV(csvFile)

In [5]:
data.head()

                                          tweet_text  confidence  tweet_class
0                       warn penni board make faggot      0.6013            1
1                                          fuck dyke      0.7227            2
2  [@] [@] [@] [@] [@] least look like jefre star...      0.5229            2
3                [@] [@] [@] fag jacki jealou neeeee      0.5184            2
4  [@] heard bitch way back th texa wtf talk bitc...      0.5185            1

In [6]:
data.tail()

,tweet_text,confidence,tweet_class
13069,sorri offend white supremacist aryan nation ne...,0.3418,0
13070,[@] caucasian euro aryan whatev realli doesnt ...,0.6804,0
13071,[@] sir patient name aryan khan villag meeranp...,1.0000,0
13072,[@] happi birthday bro happi year ahead,1.0000,0
13073,[@] aryan kapoor cute name tho want kamp first...,1.0000,0