In [5]:
import numpy as np
import pandas as pd

In [6]:
def loadCSV(filename):
    file = filename
    if '.csv' not in filename:
        file += '.csv'
    data = pd.read_csv(file, encoding = 'ISO-8859-1')
    return data

In [7]:
csvFile = "altered_hate_speech"

In [8]:
data = loadCSV(csvFile)

In [9]:
data.head()

                                          tweet_text  confidence  tweet_class
0       Warning: penny boards will make you a faggot      0.6013            1
1                                         Fuck dykes      0.7227            2
2  @sizzurp__ @ILIKECATS74 @yoPapi_chulo @brandon...      0.5229            2
3  "@jayswaggkillah: "@JacklynAnnn: @jayswaggkill...      0.5184            2
4  @Zhugstubble You heard me bitch but any way I'...      0.5185            1

In [12]:
data.tail()

,tweet_text,confidence,tweet_class
14504,I'm sorry. Did I offend your white supremacist...,0.3418,0
14505,@tradethecycles Caucasian euro aryan whatever....,0.6804,0
14506,@yadavakhilesh sir a patient named aryan khan ...,1.0000,0
14507,@Iamshivachari Happy birthday bro _ÃÂ«ÃÃ_ ...,1.0000,0
14508,@Hajrahkiayni Aryan Kapoor is such a cute name...,1.0000,0

# Average Length of Tweets by Class

In [16]:
all_tweets = []
neutral_tweets = []
offensive_tweets = []
hate_tweets = []

In [21]:
for index, row in data.iterrows():
    tweet_text = row[0]
    tweet_class = row[2]
    
    if tweet_class == 0:
        neutral_tweets.append(tweet_text)
    elif tweet_class == 1:
        offensive_tweets.append(tweet_text)
    elif tweet_class == 2:
        hate_tweets.append(tweet_text)
        
    all_tweets.append(tweet_text)

In [24]:
def averageTweetLength(tweetArray):
    tweets = len(tweetArray)
    totalLen = 0
    for t in tweetArray:
        totalLen += len(t)
    return totalLen/tweets

In [33]:
all_tweets_len = averageTweetLength(all_tweets)
neutral_tweets_len = averageTweetLength(neutral_tweets)
offensive_tweets_len = averageTweetLength(offensive_tweets)
hate_tweets_len = averageTweetLength(hate_tweets)

In [34]:
all_tweets_len

91.17285822592874

In [35]:
neutral_tweets_len

99.93497387957107

In [36]:
offensive_tweets_len

84.14991728701406

In [38]:
hate_tweets_len

78.76240100041684