In [1]:
import numpy as np
import pandas as pd

In [2]:
def loadCSV(filename):
    file = filename
    if '.csv' not in filename:
        file += '.csv'
    data = pd.read_csv(file, encoding = 'ISO-8859-1')
    return data

In [3]:
csvFile = "altered_hate_speech"
data = loadCSV(csvFile)

In [4]:
data.head()

                                          tweet_text  confidence  tweet_class
0       Warning: penny boards will make you a faggot      0.6013            1
1                                         Fuck dykes      0.7227            2
2  @sizzurp__ @ILIKECATS74 @yoPapi_chulo @brandon...      0.5229            2
3  "@jayswaggkillah: "@JacklynAnnn: @jayswaggkill...      0.5184            2
4  @Zhugstubble You heard me bitch but any way I'...      0.5185            1

In [5]:
data.tail()

,tweet_text,confidence,tweet_class
14504,I'm sorry. Did I offend your white supremacist...,0.3418,0
14505,@tradethecycles Caucasian euro aryan whatever....,0.6804,0
14506,@yadavakhilesh sir a patient named aryan khan ...,1.0000,0
14507,@Iamshivachari Happy birthday bro _ÃÂ«ÃÃ_ ...,1.0000,0
14508,@Hajrahkiayni Aryan Kapoor is such a cute name...,1.0000,0

# Making all tweet_text Lowercase

In [6]:
data["tweet_text"] = data["tweet_text"].apply(lambda x: x.lower())

In [7]:
data.head()

                                          tweet_text  confidence  tweet_class
0       warning: penny boards will make you a faggot      0.6013            1
1                                         fuck dykes      0.7227            2
2  @sizzurp__ @ilikecats74 @yopapi_chulo @brandon...      0.5229            2
3  "@jayswaggkillah: "@jacklynannn: @jayswaggkill...      0.5184            2
4  @zhugstubble you heard me bitch but any way i'...      0.5185            1

In [8]:
data.tail()

,tweet_text,confidence,tweet_class
14504,i'm sorry. did i offend your white supremacist...,0.3418,0
14505,@tradethecycles caucasian euro aryan whatever....,0.6804,0
14506,@yadavakhilesh sir a patient named aryan khan ...,1.0000,0
14507,@iamshivachari happy birthday bro _ãâ«ãã_ ...,1.0000,0
14508,@hajrahkiayni aryan kapoor is such a cute name...,1.0000,0

# Remove Extraneous WhiteSpace

In [9]:
data["tweet_text"] = data["tweet_text"].apply(lambda x: " ".join(x.split()))

In [10]:
data.head()

                                          tweet_text  confidence  tweet_class
0       warning: penny boards will make you a faggot      0.6013            1
1                                         fuck dykes      0.7227            2
2  @sizzurp__ @ilikecats74 @yopapi_chulo @brandon...      0.5229            2
3  "@jayswaggkillah: "@jacklynannn: @jayswaggkill...      0.5184            2
4  @zhugstubble you heard me bitch but any way i'...      0.5185            1

In [11]:
data.tail()

,tweet_text,confidence,tweet_class
14504,i'm sorry. did i offend your white supremacist...,0.3418,0
14505,@tradethecycles caucasian euro aryan whatever....,0.6804,0
14506,@yadavakhilesh sir a patient named aryan khan ...,1.0000,0
14507,@iamshivachari happy birthday bro _ãâ«ãã_ h...,1.0000,0
14508,@hajrahkiayni aryan kapoor is such a cute name...,1.0000,0

# Remove Punctuation

In [12]:
punctuation_characters = ['.', ',', '?', '!', '\"', '\\', ':', '\'', '(', ')', '[', ']', '{', '}',';', '/']
for p in punctuation_characters:
    print(p)

.
,
?
!
"
\
:
'
(
)
[
]
{
}
;
/

In [13]:
data["tweet_text"] = data["tweet_text"].apply(lambda x: ''.join(c for c in x if c not in punctuation_characters))

In [14]:
data.head()

                                          tweet_text  confidence  tweet_class
0        warning penny boards will make you a faggot      0.6013            1
1                                         fuck dykes      0.7227            2
2  @sizzurp__ @ilikecats74 @yopapi_chulo @brandon...      0.5229            2
3  @jayswaggkillah @jacklynannn @jayswaggkillah i...      0.5184            2
4  @zhugstubble you heard me bitch but any way im...      0.5185            1

In [15]:
data.tail()

,tweet_text,confidence,tweet_class
14504,im sorry did i offend your white supremacist a...,0.3418,0
14505,@tradethecycles caucasian euro aryan whatever ...,0.6804,0
14506,@yadavakhilesh sir a patient named aryan khan ...,1.0000,0
14507,@iamshivachari happy birthday bro _ãâ«ãã_ h...,1.0000,0
14508,@hajrahkiayni aryan kapoor is such a cute name...,1.0000,0

# Calculate Frequency of Unique Words By Class

In [16]:
def iterateFreq(dictionary, word):
    if dictionary.get(word, False):
        dictionary[word] += 1
    else:
        dictionary[word] = 1

In [17]:
def wordFrequencies(dataframe):
    all_tweets = {}
    neutral = {}
    offensive = {}
    hate = {}
    
    for index, row in dataframe.iterrows():
        tweet = row[0]
        tweet_class = row[2]
        
        tweet_words = tweet.split()
        
        for word in tweet_words:
            if tweet_class == 0:
                iterateFreq(neutral, word)
            elif tweet_class == 1:
                iterateFreq(offensive, word)
            elif tweet_class == 2:
                iterateFreq(hate, word)
                
            iterateFreq(all_tweets, word)
    
    return all_tweets, neutral, offensive, hate

In [18]:
all_wf, neutral_wf, offensive_wf, hate_wf = wordFrequencies(data)

In [19]:
len(all_wf)

30864

In [20]:
len(neutral_wf)

20999

In [21]:
len(offensive_wf)

11164

In [22]:
len(hate_wf)

6535