In [1]:
import numpy as np
import pandas as pd

In [2]:
def loadCSV(filename):
    file = filename
    if '.csv' not in filename:
        file += '.csv'
    data = pd.read_csv(file, encoding = 'ISO-8859-1')
    return data

In [3]:
csvFile = "altered_hate_speech"
data = loadCSV(csvFile)

In [4]:
data.head()

                                          tweet_text  confidence  tweet_class
0       Warning: penny boards will make you a faggot      0.6013            1
1                                         Fuck dykes      0.7227            2
2  @sizzurp__ @ILIKECATS74 @yoPapi_chulo @brandon...      0.5229            2
3  "@jayswaggkillah: "@JacklynAnnn: @jayswaggkill...      0.5184            2
4  @Zhugstubble You heard me bitch but any way I'...      0.5185            1

In [5]:
data.tail()

,tweet_text,confidence,tweet_class
14504,I'm sorry. Did I offend your white supremacist...,0.3418,0
14505,@tradethecycles Caucasian euro aryan whatever....,0.6804,0
14506,@yadavakhilesh sir a patient named aryan khan ...,1.0000,0
14507,@Iamshivachari Happy birthday bro _ÃÂ«ÃÃ_ ...,1.0000,0
14508,@Hajrahkiayni Aryan Kapoor is such a cute name...,1.0000,0

# Making all tweet_text Lowercase

In [6]:
data["tweet_text"] = data["tweet_text"].apply(lambda x: x.lower())

In [7]:
data.head()

                                          tweet_text  confidence  tweet_class
0       warning: penny boards will make you a faggot      0.6013            1
1                                         fuck dykes      0.7227            2
2  @sizzurp__ @ilikecats74 @yopapi_chulo @brandon...      0.5229            2
3  "@jayswaggkillah: "@jacklynannn: @jayswaggkill...      0.5184            2
4  @zhugstubble you heard me bitch but any way i'...      0.5185            1

In [8]:
data.tail()

,tweet_text,confidence,tweet_class
14504,i'm sorry. did i offend your white supremacist...,0.3418,0
14505,@tradethecycles caucasian euro aryan whatever....,0.6804,0
14506,@yadavakhilesh sir a patient named aryan khan ...,1.0000,0
14507,@iamshivachari happy birthday bro _ãâ«ãã_ ...,1.0000,0
14508,@hajrahkiayni aryan kapoor is such a cute name...,1.0000,0

# Remove Extraneous WhiteSpace

In [9]:
data["tweet_text"] = data["tweet_text"].apply(lambda x: " ".join(x.split()))

In [10]:
data.head()

                                          tweet_text  confidence  tweet_class
0       warning: penny boards will make you a faggot      0.6013            1
1                                         fuck dykes      0.7227            2
2  @sizzurp__ @ilikecats74 @yopapi_chulo @brandon...      0.5229            2
3  "@jayswaggkillah: "@jacklynannn: @jayswaggkill...      0.5184            2
4  @zhugstubble you heard me bitch but any way i'...      0.5185            1

In [11]:
data.tail()

,tweet_text,confidence,tweet_class
14504,i'm sorry. did i offend your white supremacist...,0.3418,0
14505,@tradethecycles caucasian euro aryan whatever....,0.6804,0
14506,@yadavakhilesh sir a patient named aryan khan ...,1.0000,0
14507,@iamshivachari happy birthday bro _ãâ«ãã_ h...,1.0000,0
14508,@hajrahkiayni aryan kapoor is such a cute name...,1.0000,0

# Remove Punctuation

In [12]:
punctuation_characters = ['.', ',', '?', '!', '\"', '\\', ':', '\'', '(', ')', '[', ']', '{', '}',';', '/']
for p in punctuation_characters:
    print(p)

.
,
?
!
"
\
:
'
(
)
[
]
{
}
;
/

In [13]:
data["tweet_text"] = data["tweet_text"].apply(lambda x: ''.join(c for c in x if c not in punctuation_characters))

In [14]:
data.head()

                                          tweet_text  confidence  tweet_class
0        warning penny boards will make you a faggot      0.6013            1
1                                         fuck dykes      0.7227            2
2  @sizzurp__ @ilikecats74 @yopapi_chulo @brandon...      0.5229            2
3  @jayswaggkillah @jacklynannn @jayswaggkillah i...      0.5184            2
4  @zhugstubble you heard me bitch but any way im...      0.5185            1

In [15]:
data.tail()

,tweet_text,confidence,tweet_class
14504,im sorry did i offend your white supremacist a...,0.3418,0
14505,@tradethecycles caucasian euro aryan whatever ...,0.6804,0
14506,@yadavakhilesh sir a patient named aryan khan ...,1.0000,0
14507,@iamshivachari happy birthday bro _ãâ«ãã_ h...,1.0000,0
14508,@hajrahkiayni aryan kapoor is such a cute name...,1.0000,0

# Standardize Text

@[twitter handle] = [@]

link = [LINK]

In [16]:
len(data["tweet_text"])

14509

In [17]:
for row in range(0, len(data["tweet_text"])):
    original_tweet = data["tweet_text"][row]
    words = original_tweet.split()
    
    for i in range(0, len(words)):
        if words[i][0] == '@':
            words[i] = '[@]'
        if "https" in words[i]:
            words[i] = '[LINK]'
    
    standardized_tweet = " ".join(words)
    
    data["tweet_text"] = data["tweet_text"].replace(original_tweet, standardized_tweet)

In [18]:
data.head(25)

                                           tweet_text  confidence  tweet_class
0         warning penny boards will make you a faggot      0.6013            1
1                                          fuck dykes      0.7227            2
2   [@] [@] [@] [@] [@] at least i dont look like ...      0.5229            2
3          [@] [@] [@] is a fag jackie jealous neeeee      0.5184            2
4   [@] you heard me bitch but any way im back th ...      0.5185            1
5   [@] your a dirty terrorist and your religion i...      0.8816            2
6                     rt [@] [@] looking like faggots      0.5207            2
7   well i thought you knew actually rt [@] man wh...      0.5619            2
8                     [@] i know it was a joke faggot      0.6419            1
9   im tired of people saying i look like my broth...      0.6407            1
10  #voteblue2014 yeah cuz 8 million people in fag...      0.7619            2
11  [@] word is you use roids stupid hypocrite lyi...      0.5606            2
12                            i hate faggots like you      0.8435            2
13  [@] shut up nigger whore hope u get raped by o...      0.8414            2
14  [@] [@] fuck you nigger sheboon hope you r str...      0.8826            2
15  they used to tie both ends of a niggers legs t...      0.7620            2
16  good night fags and fagettes thats the female ...      0.6833            2
17  i cant stand no crybaby ass nigga if you gonna...      0.5204            1
18                       rt [@] [@] no youre a nigger      0.6410            2
19   ill fuck you til you love me faggot - mike tyson      0.6419            1
20  [@] [@] [@] whats your problem dont u know jew...      0.7608            2
21  i fucking hate you niggers bruh httptcooetk4f94bo      0.9221            2
22  rt [@] some species of birds have been known t...      1.0000            0
23  i remember draft prom night my dress wouldnt z...      1.0000            0
24  damn eli thats just ruff im not even gonna tra...      0.9218            0

In [19]:
data.tail(25)

,tweet_text,confidence,tweet_class
14484,#yodaspeakasaying kills captivity does death [...,1.0000,0
14485,diamond keep actin up ima go to her job and be...,0.3351,0
14486,cries im turning into a weeb-coon [LINK],0.6615,0
14487,saw this gorgeous 4 12 year old maine coon tod...,1.0000,0
14488,jet stream the maine coon riding out last nigh...,1.0000,0
14489,[@] im not even a coon girl,1.0000,1
14490,from what ive seen men and women coon at the s...,0.6633,2
14491,bwtake care of me pls buy my coon ass somethin...,0.6616,1
14492,interesting data on quantifying value of the i...,1.0000,0
14493,[@] thank you_ãâ«ãã_,1.0000,0
14494,[@] [@] if he is aryan then #mallikarjun will ...,0.6579,0
14495,[@] sir if he is aryan then #mallikarjun will ...,1.0000,0
14496,radio nordfront interview a russian patriot an...,1.0000,0
14497,[@] hope u check ur fb messages all message re...,1.0000,0
14498,wowã_ã__a jewish man having his nose measure...,1.0000,0
14499,oldpicsarchive a jewish man having his nose me...,1.0000,0
14500,a jewish man having his nose measured during a...,0.6684,0
14501,ao - aryan huy miss you na happy that ill be a...,1.0000,0
14502,[@] aryan what is the version of fifa,1.0000,0
14503,measured during aryan race determination tests...,1.0000,0
14504,im sorry did i offend your white supremacist a...,0.3418,0
14505,[@] caucasian euro aryan whatever really doesn...,0.6804,0
14506,[@] sir a patient named aryan khan village mee...,1.0000,0
14507,[@] happy birthday bro _ãâ«ãã_ have an happ...,1.0000,0
14508,[@] aryan kapoor is such a cute name tho d we ...,1.0000,0

# Calculate Frequency of Unique Words By Class

In [20]:
def iterateFreq(dictionary, word):
    if dictionary.get(word, False):
        dictionary[word] += 1
    else:
        dictionary[word] = 1

In [21]:
def wordFrequencies(dataframe):
    all_tweets = {}
    neutral = {}
    offensive = {}
    hate = {}
    
    for index, row in dataframe.iterrows():
        tweet = row[0]
        tweet_class = row[2]
        
        tweet_words = tweet.split()
        
        for word in tweet_words:
            if tweet_class == 0:
                iterateFreq(neutral, word)
            elif tweet_class == 1:
                iterateFreq(offensive, word)
            elif tweet_class == 2:
                iterateFreq(hate, word)
                
            iterateFreq(all_tweets, word)
    
    return all_tweets, neutral, offensive, hate

In [22]:
def dispWordFreq(dictionary):
    unique_words = sorted( ((v,k) for k, v in dictionary.items()), reverse = True)
    for v, k in unique_words:
        word_val = "%s: %d" % (k, v)
        print(word_val)

In [23]:
all_wf, neutral_wf, offensive_wf, hate_wf = wordFrequencies(data)

In [24]:
len(all_wf)

20215

In [25]:
len(neutral_wf)

14896

In [26]:
len(offensive_wf)

8082

In [27]:
len(hate_wf)

4604